/* Light theme by default variables */
:root {
  --background-color: #ffffff;
  --header-background: rgba(255, 255, 255, 0.8);
  --text-color: #000;
  --link-color: #0071e3;
  --footer-background: #f1f1f1;
  --card-background-color: #f1f1f1;
  --button-bg-color: #5c6ac4;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #621eff;
  --button-border-color: #1e90ff; /* Outline color in dark mode */
  --oauth-hover-background: #e2e2e2; /* Light hover in light mode */
}

.dark {
  --background-color: #121212;
  --header-background: rgba(0, 0, 0, 0.8);
  --text-color: #fff;
  --link-color: #1e90ff;
  --footer-background: #1f1f1f;
  --card-background-color: #1e1e1e;
  --button-bg-color: #1e90ff; /* A darker base color for dark mode */
  --button-text-color: #ffffff;
  --button-hover-bg-color: #ffec1e; /* Noticeably lighter hover color */
  --button-border-color: #1e90ff; /* Outline color in dark mode */
  --oauth-hover-background: #3a3a3a; /* Lighter hover in dark mode */
}

/* Apply variables globally */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  text-decoration: underline;
}
