/* src/app/globals.css */

/* Define CSS variables for light and dark themes */
:root {
  --background-color: #ffffff;
  --header-background: rgba(255, 255, 255, 0.8); /* Light header background */
  --text-color: #000; /* Light text color */
  --link-color: #0071e3; /* Light link hover color */
  --footer-background: #f1f1f1;
  /* Add more variables as needed */
}

.dark {
  --background-color: #121212;
  --header-background: rgba(0, 0, 0, 0.8); /* Dark header background */
  --text-color: #fff; /* Dark text color */
  --link-color: #1e90ff; /* Dark link hover color */
  --footer-background: #1f1f1f;
  /* Add more variables as needed */
}

/* Apply variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  text-decoration: underline;
}

/* Additional global styles as needed */
