.toggleWrapper {
  width: 50px;
  height: 25px;
  background: var(--card-background-color);
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3px;
}

.toggleDark {
  transform: translateX(25px);
  /* When dark mode, use hover color or another shade if desired */
  background: var(--button-hover-bg-color);
}

.toggle {
  width: 20px;
  height: 20px;
  background: var(--button-hover-bg-color);
  border-radius: 50%;
  transition:
    transform 0.3s,
    background-color 0.3s;

  /* Add these lines to center the icon inside the knob */
  display: flex;
  align-items: center;
  justify-content: center;
}
